/* Write your styles */
.fz-tabs-round{
    margin: 0em;
    border: solid 5px #dddddd;
    padding: 0px;
    height: 722px;
    width: border-box;
}

.fz-tabs-panel{
    height: 670px;
}

#tabs3-map-show{
    margin: 0px;
    border-top: solid 2px #dddddd;
    border-bottom: solid 2px #dddddd;
    padding: 0px;
    height: 670px;
    width: border-box;
}

#tabs4-video-show{
    margin: 0px;
    border-top: solid 2px #dddddd;
    border-bottom: solid 2px #dddddd;
    padding: 0px;
    height: 670px;
    width: border-box;
}
