<!doctype html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>夫子庙游船监控</title>

    <!-- Amaze UI CSS -->
    <link rel="stylesheet" href="css/amazeui.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/handlebars.min.js"></script><!--Handlebars引擎-->
    <script src="js/amazeui.js"></script>
</head>

<body>
<script src="https://open.ys7.com/sdk/js/1.3/ezuikit.js"></script><!--萤石直播-->
<script src="http://webapi.amap.com/maps?v=1.4.4&key=1a8d6e84d881926f1ae9825b127b02bc"></script><!--高德地图-->

<header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">夫子庙游船监控<!--<img src="http://s.amazeui.org/media/i/brand/amazeui-cw.png" />--></h1>
</header>

<!--标题分割线-->
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />

<!--选项卡 支持垂直滑动，水平滑动-->
<div data-am-widget="tabs" class="fz-tabs-round am-tabs am-tabs-d2 am-scrollable-vertical">
    <!--选项标题栏-->
    <ul class=" am-tabs-nav am-cf">
        <li id="fz-baseInfo" class="am-active"><a href="[data-tab-panel-0]">基本信息</a></li>
        <li id="fz-detialInfo" type="buttun" class=""><a href="[data-tab-panel-1]">详细状态</a></li>
        <li id="fz-map" class=""><a href="[data-tab-panel-2]">地图标识</a></li>
        <li id="fz-video" class=""><a href="[data-tab-panel-3]">视频传输</a></li>
    </ul>
    <!--标题对应的盘子-->
    <div class="am-tabs-bd">
        <!--基本信息-->
        <div data-tab-panel-0 class="am-active am-tab-panel ">
            <!--搜索框-->
            <!--<div class="am-g">-->
                <!--<div class="am-u-lg-12">-->
                    <!--<div class="am-input-group">-->
                        <!--<input type="text" class="am-form-field" placeholder="输入要查询的游船编号">-->
                        <!--<span class="am-input-group-btn">-->
                            <!--<button class="am-btn am-btn-default" type="button"><span class="am-icon-search"></span> </button>-->
                            <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="am-scrollable-horizontal">
                <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
                    <thead>
                    <tr>
                        <th>船只编号</th>
                        <th>船只名称</th>
                        <th>船只级别</th>
                        <th>船只状态</th>
                    </tr>
                    </thead>
                    <tbody id="tabs1-tr"> </tbody>
                </table>
            </div>
        </div>
        <!--详细信息-->
        <div data-tab-panel-1 class="am-tab-panel ">
            <div class="am-scrollable-horizontal">
                <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
                    <thead>
                    <tr>
                        <th title="船只编号">编号</th>
                        <th title="当天工作次数">次数</th>
                        <th title="船只当前运行速度:黄色表示超速,悬浮查看超速警报(0:正常,1:危险)">船速</th>
                        <th title="船只当前运行时间:悬浮查看船只上次运行起止时间">时间</th>
                        <th title="船只当前会船提醒">会船</th>
                        <th title="超声探测船距如下:(红色表示有撞船危险),悬浮查看撞船警报(0:正常,1:危险)">船距</th>
                        <th title="船内水位如下:(红色表示有漏水危险),悬浮查看漏水警报(0:正常,1:危险)">水位</th>
                        <th title="船内烟雾浓度如下:(红色表示有烟雾报警),悬浮查看烟雾警报(0:正常,1:危险)">烟雾</th>
                        <th title="船内火光程度如下:(红色表示有明火危险),悬浮查看明火警报(0:正常,1:危险)">火光</th>
                        <th title="GPS工作模式(A:自定义、D:差分、E:估算、N:数据无效)，悬浮查看详细信息">GPS模式</th>
                        <th title="各个电机当前转速（r）">电机转速</th>
                        <th title="各个电机当前电流（A）">电机电流</th>
                        <th title="各个电机当前电压（V）">电机电压</th>
                        <th title="当前电池信息">电池</th>
                    </tr>
                    </thead>
                    <tbody id="tabs2-tr"></tbody>
                </table>
            </div>
        </div>
        <!--地图信息-->
        <div data-tab-panel-2 class="am-tab-panel">
            <div id="tabs3-map-show" class="">

            </div>
        </div>
        <!--视频信息-->
        <div data-tab-panel-3 class="am-tab-panel ">
            </div>
                <!--<div id="fz-video-show">-->
                    <!--<video id="fz-video-player" poster="" controls playsInline webkit-playsinline autoplay>-->
                        <!--<source src="rtmp://rtmp.open.ys7.com/openlive/c2b99ded8a634e52bd3be59c099ca878.hd" type="" />-->
                        <!--<source src="http://hls.open.ys7.com/openlive/c2b99ded8a634e52bd3be59c099ca878.hd.m3u8" type="application/x-mpegURL" />-->
                    <!--</video>-->
                <!--</div>-->
            </div>
    </div>
</div>

<footer data-am-widget="footer" class=" am-footer am-footer-default">
    <div class="am-footer-miscs " >
        <p>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        由<a href="http://www.acostek.net/" title="声准科技"
            target="_blank" class="">声准科技</a>
        提供技术支持
    </div>
</footer>

<!--handlebars模板-->
<script id="temp-tabs1-tr" type="text/x-handlebars-template">
    {{#each this}}
        <tr>
            <td>{{shipId}}</td>
            <td>{{shipName}}</td>
            <td>{{shipNote}}</td>
            <td>{{shipStatus}}</td>
        </tr>
    {{/each}}
</script>
<script id="temp-tabs2-tr" type="text/x-handlebars-template">
    {{#each this}}
        <tr>
            <td>{{shipId}}</td>
            <td>{{ioTimes}}</td>
            <td {{#iswarn overSpeed}} style="background-color:#ff6600" {{/iswarn}} title="超速报警:(1:危险，0:正常),当前为:{{overSpeed}}">{{speed}}</td>
            <td title="
上次船只运行起始时间：{{startRunTime}}
上次船只运行终止时间：{{endRunTime}}">{{runTime}}</td>
            <td {{#iswarn wait}} style="background-color: #0033ff" {{/iswarn}} >{{wait}}</td>
            <td {{#iswarn collide}} style="background-color: #cc0000;" {{/iswarn}} title="撞船报警:(1:危险，0:正常),当前为:{{collide}}">{{ultrasonicValue}}</td>
            <td {{#iswarn leakage}} style="background-color: #cc0000;" {{/iswarn}} title="漏水报警:(1:危险，0:正常),当前为:{{leakage}}">{{waterValue}}</td>
            <td {{#iswarn overSmog}} style="background-color: #cc0000;" {{/iswarn}} title="烟雾报警:(1:危险，0:正常),当前为:{{overSmog}}">{{smogValue}}</td>
            <td {{#iswarn overFire}} style="background-color: #cc0000;" {{/iswarn}} title="明火报警:(1:危险，0:正常),当前为:{{overFire}}">{{fireValue}}</td>
            <td title="
本数据创建时间：{{gpsTime}}
磁偏角(E:东 W:西)：{{gpsVardir}}:{{gpsMagvar}}
地面航向角:{{gpsTrackTure}}
经度(N:北 S:南)：{{gpsLondir}}:{{longitude}}
纬度(E:东 W:西)：{{gpsLatdir}}:{{latitude}}">{{gpsModeInd}}</td>
            <td title="本电机当前转速(1:2)">{{motorSpeed1}}:{{motorSpeed2}}</td>
            <td title="本电机当前电流(1:2)">{{motorCurrent1}}:{{motorCurrent2}}</td>
            <td title="本电机当前电压(1:2)">{{motorVoltage1}}:{{motorVoltage2}}</td>
            <td title="显示当前的电池信息">{{hardware}}</td>
        </tr>
    {{/each}}
</script>


<script src="js/app.js"></script>

</body>
</html>